<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
<div class="header" id="topheader">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top   ">
  <div class="container text-uppercase ps-2  ">
   <a class="navbar-brand  font-weight-bold text-white" href="#">DarshuTecnical</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto text-uppercase">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Get in touch</a>
      </li>
       
    </ul>
    
  </div>
</div>
</nav>

  <section class="header-section">
    <div class="center-div">
      <h1> DARSHIKA RATHI </h1>
      <h1> DARSHIKA RATHI </h1>
      <h1> DARSHIKA RATHI </h1>
      <p> Software Engineer  </p>
      <div class="header-buttons">
        <a href="#">ABOUT ME </a>
        <a href="#">CONTACT ME </a>
      </div>
    </div>
  </section>


</div>

<!--********** header part done****************-->
<!-- three extra header start-->
<section class="header-extradiv">
  <div class="container headings text-center">
    <h1 class="text-center font-weight-bold "> ABOUT ME </h1>
    <p class="text-center"> What I am all about.. </p>
     
  </div>
  <div class="container">
    <div class="row">
        <div class="extra-div col-lg-12 col-md-4 col-12">
         <a href="#"> <i class=" fa-3x fa fa-desktop " aria-hidden="true"></i></a>
        <h2> SOFTWARE DEVELOPER</h2>
        <p> I am proactive and creative Frontend Developer.
            I keep an close  eye on Frontend Developement Web Standard and web performance.
            I am a Developer worked in svam North Shore Technology with passion for Angular 7 Developement.
         </p>
       </div>
     </div>
     
     <div class="row">
      <div class="col-lg-12">
        <div class="footer-social-links ">
          <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="#" title="Google+" target="_blank"><i class="fa fa-google-plus"></i></a>
          <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="#" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>
        </div>
      </div>
    
     </div>
    
  </div>
</section>
 

<!-- three extra header end -->

<!--  offer section starts -->
<section class="serviceoffers" id="servicediv" >
  
  <div class="container">
    
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
                <h3>HTML/CSS</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Adept at creating the user interface and integrating data. Proficient in collaborating with web designer to build maintain & update website /application</p>
                    <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                <h3>JAVSCIPT</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Work closely with internal developement, product management and design team. Identifying ways to improve design and developement processes</p>
                    <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                <h3> ANGULAR 7</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>1 year of experience Angular 7 Developer highly skilled in designing and testing single page application. Design and developed components in angular 7 supporting multiple 
                  web appliaction efforts.
                   
                </p>
                    <a href="#">Read More</a>
            </div>
        </div>
    </div>
   
</div>
 
  
   

</section>
<!-- offer section ends-->

 
<!-- our pricing start-->
 <section class="pricing" id="pricingdiv">
   <div class="container headings  font-weight-bold text-uppercase text-center">
     <h1> Experience</h1>
   </div>
    

  <div class="container ">
     
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline5">
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">2019</span></div>
                    <div class="timeline-content">
                        <h3 class="title">Software Engineer </h3>
                        <p class="description">
                             An angular 7 frontend project which helps client to modelize house as per the end user requirement and 
                             calculate the effective cost by different mean like material cost , labor cost.  

                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">2015</span></div>
                    <div class="timeline-content">
                        <h3 class="title"> Bachelor of technology </h3>
                        <p class="description">
                            Computer Science and engineering 
                            R.K.G.I.M Ghazibad under A.K.T.U
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">2013</span></div>
                    <div class="timeline-content">
                        <h3 class="title"> Intermediate</h3>
                        <p class="description">
                          PCM ,Saraswati Vidhya Mandir School Muzaffarnagar under UPB -78%
                          Scrored 62% till 8 semester

                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">2011</span></div>
                    <div class="timeline-content">
                        <h3 class="title">High School</h3>
                        <p class="description">
                            PCM , Saraswati Vidhya Mandir School Muzaffarnagar under UPB -84%
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 


      
   
 </section>
 
<!-- our pricing end-->
 
 
 

<!-- contact us start-->

<section class="contactus" id="contactid">
   <div class="container headings text-center">
     <h1 class="text-center font-weight-bold"> GET IN TOUCH</h1>
     <p class="text-capitalize pt-1"> we are heere to help and answer any question you might have. We look 
       forward to hearing from you. 
     </p>
   </div> 

   <div class="container">
     <div class="row">
       <div class="col-lg-8 col-md-8 col-10  offset-lg-2 offset-md-2 offset-1">
        
        <form> 
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter your Name" id="username"  required autocomplete="off">
           </div>
            
           
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter email" id="email"  required autocomplete="off">
          </div>
            
        
           
          <div class="form-group">
             <input type="text" class="form-control" placeholder="Enter mobile number" id="email" required autocomplete="off">
          </div>
           
          <div class="form-group">
            <textarea class="form-control" rows="4" id="comment"  placeholder="Enter mobile message" ></textarea>
          </div>
 
          <div class="d-flex justify-content-center form-button">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
         
        </form>
       </div>
     </div>
   </div>
</section>
<!-- contact us end-->




 

 


<!-- footer-->
 <footer class="footersection" id="footerdiv">
   <div class="container">
     <div class="row">
        <div class="col-lg-4 col-md-6 col-12 footer-div">
                <div>
                    <h3> About DARSHUTECHNICAL</h3>
                    <p>Lorem ipsum dolor sit amt, consectet adop adipisicing alit,
                    sed do eiusmod tepo raraincididunt ugt labore </p>
                 </div>
         </div>

        <div class="col-lg-4 col-md-6 col-12 footer-div text-center">
             <div>
                 <h3>  NAVIGATION LINKS</h3>
                 <li> <a href="#">HOME </a> </li>
                  <li> <a href="#"> ABOUT ME</a> </li>
                  <li> <a href="#">SKILLS</a> </li>
                   <li> <a href="#"> EXPERIENCE  </a>  </li>
               </div>
         </div>


            <div class="col-lg-4 col-md-12 col-12 footer-div">
               <div>
                     <h3>  NEWSLETTER </h3>
                     <p> for business profesioanls caught between hight OEM price and mediorcre print and graphic output </p>
                   <div class="container newsletter-main">
                       <div class="row">
                            <div class="col-lg-12 col-12">
                                 <div class="input-group mb-3">
                                     <input type="text" class="form-control news-input" placeholder="Your Email" >
                                         <div class="input-group-append">
                                            <span class="input-group-text">Subscribe </span>
                                          </div>
                                   </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>


     </div>
 
      
              <div class="mt-5 text-center">
                <p> Copyright @2019 All rights reserved | this template is made with love by DARSHUTECHNICAL </p>
              </div>

              <div class="scrolltop float-right">
                <i class="fa fa-arrow-up"   id="myBtn"> </i>
              </div>

   </div>
 </footer>

<!--<a  #servicediv > -->

<!-- our customer feedack start -->
<router-outlet></router-outlet>